{% extends "base.html" %}

{% block content %}

  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      text-align: center;
    }

    input[type="text"] {
      padding: 10px;
      width: 200px;
    }

    button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
  </style>

  <div class="container">

    <h1>Bienvenido al chat grupal</h1>
    <form action="" method="post">
    <input type="text" placeholder="Ingresa tu nombre" id="nombreUsuario" name="name">
    <input type="text" placeholder="Ingresa el canal a unirse/crear" id="nombreRoom" name="code">
    <button type="submit" name="join">Unirse al chat</button>
    <button type="submit" name="create">Crear chat</button>
  </form>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
  </div>


{% endblock %}